.index-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #F2EAE4;
}
.index-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.index-navbar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #D9CBBF;
}
.index-heading {
  color: var(--dl-color-gray-black);
  font-size: 24px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.index-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.index-link {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.index-link01 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.index-link02 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.index-link03 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.index-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.index-icon {
  width: 36px;
  height: 36px;
}
.index-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.index-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.index-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-icon2 {
  width: 24px;
  height: 24px;
}
.index-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-link04 {
  margin-bottom: var(--dl-space-space-unit);
}
.index-link05 {
  margin-bottom: var(--dl-space-space-unit);
}
.index-link06 {
  margin-bottom: var(--dl-space-space-unit);
}
.index-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.index-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #F2EAE4;
}
.index-hero {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: #F2EAE4;
}
.index-hero-text-container {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-heading2 {
  color: rgb(115, 111, 54);
  font-size: 20px;
  align-self: center;
  font-family: "Times New Roman";
  margin-bottom: var(--dl-space-space-tripleunit);
}
.index-text01 {
  font-size: 55px;
}
.index-text02 {
  font-size: 55px;
}
.index-text03 {
  font-size: 55px;
}
.index-text04 {
  font-size: 55px;
}
.index-image {
  width: 505px;
  height: 290px;
  object-fit: cover;
}
.index-section-separator1 {
  width: 85%;
  height: 3px;
  margin: 0px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #734E38;
}
.index-hero1 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F2EAE4;
}
.index-container03 {
  width: 1016px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.index-hero2 {
  width: 100%;
  display: flex;
  padding: 32px;
  max-width: 1400px;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.index-image1 {
  width: 421px;
  height: 612px;
  object-fit: cover;
}
.index-container04 {
  flex: 1;
  height: 469px;
  display: flex;
  align-self: center;
  margin-left: 32px;
  flex-direction: column;
}
.index-text06 {
  font-size: 3rem;
  font-family: "Times New Roman";
}
.index-text07 {
  margin-top: var(--dl-space-space-unit);
  font-family: "Times New Roman";
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.index-btn-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.index-features {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-color: #F2EAE4;
}
.index-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.index-text08 {
  color: rgb(115, 111, 54);
  font-size: 48px;
  font-family: "Times New Roman";
  font-weight: 900;
  line-height: 1.22;
  margin-bottom: var(--dl-space-space-fourunits);
  text-transform: none;
  text-decoration: none;
}
.index-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.index-card {
  width: 30%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.index-icon-container {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.index-navlink {
  display: contents;
}
.index-pasted-image {
  width: 205px;
  height: 96px;
  text-decoration: none;
}
.index-content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.index-heading3 {
  color: var(--dl-color-gray-black);
  font-size: 24px;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.index-text09 {
  font-size: 16px;
  text-align: center;
  font-family: "Times New Roman";
}
.index-text10 {
  letter-spacing: 1px;
}
.index-card1 {
  width: 30%;
  height: 400px;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.index-icon-container1 {
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.index-navlink1 {
  display: contents;
}
.index-image2 {
  flex: 1;
  width: 153px;
  height: 155px;
  object-fit: cover;
  text-decoration: none;
}
.index-content-container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.index-heading4 {
  font-size: 24px;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 700;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.index-text12 {
  text-align: center;
  font-family: "Times New Roman";
  letter-spacing: 1px;
}
.index-card2 {
  width: 30%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.index-icon-container2 {
  width: 200px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.index-navlink2 {
  display: contents;
}
.index-pasted-image1 {
  text-decoration: none;
}
.index-content-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.index-heading5 {
  color: var(--dl-color-gray-black);
  font-size: 24px;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.index-text13 {
  color: var(--dl-color-gray-black);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Times New Roman";
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
.index-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.index-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.index-section-separator4 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.index-footer {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
}
.index-container05 {
  width: auto;
  height: 107px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.index-contact {
  height: 99px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-bottom: 24px;
  flex-direction: column;
}
.index-text14 {
  font-weight: 700;
  margin-bottom: 1px;
}
.index-text15 {
  margin-bottom: 0px;
}
.index-container06 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.index-logo {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 1400px;
  align-items: flex-start;
  flex-direction: column;
}
.index-links-container2 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.index-container07 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.index-socials {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.index-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.index-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.index-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.index-icon-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
.index-link08 {
  display: contents;
}
.index-icon4 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.index-link09 {
  display: contents;
}
.index-icon6 {
  flex: 1;
  width: 40px;
  height: 24px;
  align-self: flex-start;
  text-decoration: none;
}
.index-separator {
  width: 100%;
  height: 1px;
  margin-top: 32px;
  margin-bottom: 32px;
  background-color: var(--dl-color-gray-900);
}
.index-text17 {
  align-self: center;
}
@media(max-width: 991px) {
  .index-heading {
    text-align: center;
  }
  .index-heading1 {
    text-align: center;
  }
  .index-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .index-hero-text-container {
    width: 80%;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .index-heading2 {
    text-align: center;
  }
  .index-hero1 {
    flex-direction: column;
  }
  .index-hero2 {
    padding: 48px;
    flex-direction: column;
  }
  .index-container04 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .index-text06 {
    text-align: center;
  }
  .index-text07 {
    text-align: center;
  }
  .index-text08 {
    text-align: center;
  }
  .index-footer {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .index-navbar {
    position: relative;
  }
  .index-links-container {
    display: none;
  }
  .index-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .index-icon {
    fill: var(--dl-color-gray-white);
  }
  .index-hero1 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .index-hero2 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .index-heading-container {
    width: 100%;
  }
  .index-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .index-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .index-card1 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .index-card2 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .index-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .index-container06 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .index-logo {
    align-items: center;
  }
  .index-links-container2 {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .index-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .index-hero-text-container {
    width: 100%;
  }
  .index-hero1 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .index-hero2 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .index-container04 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .index-btn-group {
    flex-direction: column;
  }
  .index-card {
    width: 100%;
  }
  .index-card1 {
    width: 100%;
  }
  .index-card2 {
    width: 100%;
  }
  .index-footer {
    padding: var(--dl-space-space-unit);
  }
  .index-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .index-container06 {
    align-items: center;
    flex-direction: column;
  }
  .index-links-container2 {
    align-items: center;
    flex-direction: column;
  }
  .index-container07 {
    margin-top: 24px;
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .index-text17 {
    text-align: center;
  }
}
