body {
    background: #556B2F;
    font-family: Arial, Helvetica, sans-serif;
    
}

.assignments{
    display: flex;
    flex-wrap: wrap;
}


.assignment{

    width: 30%;
    padding: 20px 10px;
    margin: 10px;
    background: lightgoldenrodyellow;
    border-radius: 25px;
}

.assignment img {
    width  :200px;
    margin : 10px;
    padding :10px;
    border: 4px dashed #fff;
    display: block;
    margin: auto;
   
}
.assignment img:hover {
        border:4px dashed #f25c69 ;
}

h1{
    color : 7FFFD4;
    text-align:center; 
}

h1:hover{
    color :#f25c69 ;
    text-align:center; 
}

h2 {
    text-align: center;
}

a{
    text-decoration:  none;
    color: 006400;
}

a:hover {
    color: #f25c69;
}