body {
    background: rgb(210, 255, 47);
    font-family: Arial, Helvetica, sans-serif;
    
}

.assignment{

    display: flex;
    padding: 10px;
    margin: 10px;
    background: lightgoldenrodyellow;
}

.assignment img {
    width  :200px;
    padding :10px;
}

h1{
    color :darkgreen;
    text-align:center;
    
}